@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto"
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.desconto {
    background-color: #D1891C;
    height: 38px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
}

.herois {
    height: 101px;
    background-color: #00669f;
    padding-left: 30px;
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 120px;
    flex-wrap: wrap;
    padding: 100px;
}

.mais {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 40px;
    top: 400px;
    background-color: #00669f;
    padding: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
    z-index: 1;
}

.banners {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 597,01px;
    width: 374px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
}

.banners__bg {
    background-image: url(/img/batman-bg.png);
    height: 218px;
}

.banners__text {
    background-color: #f3f3f3;
    width: 374px;
    height: 379.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
    gap: 25px;
}

img.logo {
    
    border-radius: 100%;
    position: absolute;
    bottom: 315px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.banners__nome {
    font-size: 30px;
}

p.banners__p {
    font-size: 16px;
    text-align: center;
}

.banners__ver-mais {
    width: 145.34px;
    height: 54.76px;
    background-color: #00669f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #F3F3F3;
}

img.heart {
    position: absolute;
    top: 15px;
    left: 20px;
}

footer {
    background: #00669F;
    display: flex;
    padding: 30px;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

footer h5 {
    color: #FFF9F9;
}

.github {
    margin-left: auto;
}

footer img {
    height: 40px;
}

@media (max-width: 460px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
    .banner {
        max-width: 40%;
    }
    .mais {
        z-index: 1;
    }
}