body {
    background-color: #FFFFFF;
    color: #3c0272;
}
.text-highlight {
    background-color: yellow;
    color: black;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-transform: capitalize;
    
}
